# Rust
/backend/target/
/backend/Cargo.lock
**/*.rs.bk
*.pdb

# React / Node.js
/frontend/node_modules/
/frontend/build/
/frontend/dist/
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Database
*.db
*.sqlite

# Environment variables
.env
.env.local

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log 